/* ---------- Purple colors ---------- */
/* ---------- Red colors ---------- */
/* ---------- Yellow colors ---------- */
/* ---------- Primary colors ---------- */
/* ---------- Secondary colors ---------- */
/* ---------- Tertiary colors ---------- */
/* ---------- Body colors ---------- */
/* ---------- Game button colors ---------- */
/* ---------- Player colors ---------- */
/* ---------- Board colors ---------- */
/* ---------- Disc colors ---------- */
/* ---------- Modal animation keyframes ---------- */
@keyframes popupModal {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes hideModal {
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  to {
    transform: translate(-50%, -50%) scale(0);
  }
}
/* ---------- Scrollbar ---------- */
/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #fff;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 50px;
  background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #4d4d4d;
}

/* ---------- Reset styles ---------- */
* {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
}

body {
  background-color: #7945ff;
  font-family: "Anybody", sans-serif;
}

img {
  display: block;
}

button {
  font: inherit;
}

/* ---------- Application container ---------- */
#root {
  max-width: 700px;
  margin: 2rem auto;
  display: grid;
  place-content: center;
}

/* ---------- Buttons ---------- */
.button,
.menu-button {
  cursor: pointer;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
}

.button {
  display: inline-block;
  font-size: 0.9rem;
  padding: 0.5rem 1.5rem;
  background-color: #5b2cd5;
  color: #fff;
  border-radius: 50px;
}
.button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}
.button:hover {
  background-color: #3f1e97;
}

.menu-button {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.25rem;
  background-color: #fff;
  text-align: left;
  font-size: 1.5rem;
  color: #000;
  border-radius: 15px;
  border: 4px solid #000;
  box-shadow: 0 10px 0 0 #000;
  position: relative;
}
.menu-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
}
.menu-button:hover {
  transform: translateY(-6px);
}
.menu-button:hover::before {
  bottom: -12px;
}
.menu-button.primary {
  background-color: #fd6486;
  color: #fff;
}
.menu-button.secondary {
  background-color: #ffce67;
}
.menu-button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}
.menu-button.has-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.menu-button-icon {
  height: 50px;
  margin-left: 1rem;
  pointer-events: none;
  user-select: none;
}

/* ---------- Main Menu ---------- */
.menu {
  padding: 2rem 0;
}

/* ---------- Game Header ---------- */
.game-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.game-icon {
  max-width: 45px;
  margin: 0 0.5rem;
}
.game-icon .circle {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50px;
  background-color: #fd6486;
  border: 2px solid #000;
  box-shadow: 0 2.5px 0 0 #000;
}
.game-icon .circle:nth-of-type(2), .game-icon .circle:nth-of-type(3) {
  background-color: #ffce67;
}

/* ---------- Players ---------- */
.players-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.players-wrapper .player:first-of-type .player-avatar {
  left: -27.5px;
}
.players-wrapper .player:last-of-type .player-avatar {
  right: -27.5px;
}

.player {
  padding: 1.5rem;
  border-radius: 15px;
  display: inline-block;
  background-color: #fff;
  border: 4px solid #000;
  box-shadow: 0 10px 0 0 #000;
  position: relative;
}
.player-avatar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  width: 55px;
  height: 55px;
}
.player-avatar, .player-avatar::before {
  border-radius: 50%;
}
.player-avatar::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-color: #000;
}
.player-avatar-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  z-index: 5;
}
.player-name {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.25rem;
}
.player-name:first-of-type {
  margin-left: 27.5px;
}
.player-name:last-of-type {
  margin-right: 27.5px;
}

/* ---------- Board ---------- */
.board {
  display: inline-grid;
  grid-template-columns: repeat(7, 50px);
  gap: 10px;
  padding: 10px;
  margin-top: 2rem;
  border-radius: 15px;
  background-color: #fff;
  border: 4px solid #000;
  box-shadow: 0 10px 0 0 #000;
}
@media screen and (min-width: 1360px) {
  .board {
    grid-template-columns: repeat(7, 70px);
  }
}

.arrow {
  width: 50px;
  position: absolute;
}
.arrow.hidden {
  visibility: hidden;
}

/* ---------- Discs ---------- */
.disc {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  background-color: #000;
  border: 4px solid #000;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.disc, .disc::before {
  border-radius: 50px;
}
.disc::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #7945ff;
}
.disc.filled::before {
  top: 10%;
}
.disc.filled-1 {
  background-color: #7e3243;
}
.disc.filled-1::before {
  background-color: #fd6486;
}
.disc.filled-2 {
  background-color: #7f6633;
}
.disc.filled-2::before {
  background-color: #ffce67;
}
.disc.four-in-row::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  border: 8px solid #fff;
  border-radius: 50%;
}
@media screen and (min-width: 1360px) {
  .disc {
    width: 70px;
    height: 70px;
  }
}

/* ---------- Game Box ---------- */
.game-box {
  padding: 1rem 2rem;
  max-width: max-content;
  margin: 0 auto;
  margin-top: -1rem;
  background-color: #fff;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  border: 4px solid #000;
  box-shadow: 0 10px 0 0 #000;
  position: relative;
  z-index: 5;
}
.game-box-player, .game-box-state {
  word-break: break-all;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}
.game-box-player {
  font-size: 1.25rem;
}
.game-box-state {
  font-size: 4rem;
}
.game-box-state.small {
  font-size: 3rem;
}
.game-box.time-over-box {
  background-color: #fff;
}
.game-box.time-over-box .game-box-player,
.game-box.time-over-box .game-box-state {
  color: #000;
}
.game-box.time-over-box .game-box-player {
  margin-bottom: 0.5rem;
}
.game-box.turn-box {
  background-color: #fd6486;
}
.game-box.turn-box.player-1 {
  background-color: #fd6486;
}
.game-box.turn-box.player-2 {
  background-color: #ffce67;
}
.game-box.turn-box.player-2 .game-box-player,
.game-box.turn-box.player-2 .turn-box-time {
  color: #000;
}
.game-box.turn-box .game-box-player,
.game-box.turn-box .turn-box-time {
  color: #fff;
}
.game-box.turn-box .turn-box-time {
  font-size: 4rem;
  font-weight: 600;
}
.game-box.win-box, .game-box.tie-box {
  background-color: #fff;
}

/* ---------- Game Shadow ---------- */
.game-shadow {
  width: 100vw;
  height: 25vh;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #5b2cd5;
  border-radius: 5vw 5vw 0 0;
}

/* ---------- Modal ---------- */
.modal {
  padding: 2rem;
  background-color: #fff;
  border: 4px solid #000;
  box-shadow: 0 10px 0 0 #000;
  width: 90vw;
  max-width: 50ch;
  height: 80vh;
  max-height: 32rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  animation: popupModal 0.5s ease-in-out forwards;
}
.modal.closing {
  animation: hideModal 0.35s ease-in-out forwards;
}
.modal.auto-size {
  height: auto;
  max-height: initial;
}
.modal.confirm-dialog .confirm-dialog-text {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.modal.confirm-dialog .accept-button,
.modal.confirm-dialog .reject-button {
  margin-right: 0.5rem;
}
.modal.confirm-dialog .accept-button {
  background-color: #000;
  color: #fff;
}
.modal.confirm-dialog .accept-button:hover {
  background-color: #4d4d4d;
}
.modal.confirm-dialog .reject-button {
  background-color: #fd6486;
}
.modal.confirm-dialog .reject-button:hover {
  background-color: #7e3243;
}
.modal-content {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.modal, .modal-close {
  border-radius: 50px;
}
.modal-close {
  cursor: pointer;
  outline: 2px dashed transparent;
  border: none;
  background: none;
  display: inline-block;
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
.modal-close-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
  user-select: none;
}
.modal-heading, .modal-subheading {
  text-transform: uppercase;
  font-weight: 600;
}
.modal-heading {
  color: #000;
  font-size: 4rem;
  text-align: center;
}
.modal-subheading {
  color: #7945ff;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.modal-paragraph {
  font-size: 1rem;
  font-weight: 600;
  color: #7b7b7b;
  line-height: 1.25rem;
}
.modal-list {
  list-style-type: none;
  list-style-position: inside;
}
.modal-list-item {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #7b7b7b;
  display: flex;
  align-items: flex-start;
}
.modal-list-item-number {
  min-width: 10px;
  text-align: center;
  color: #000;
  margin-right: 1rem;
}

/*# sourceMappingURL=index.css.map */
