@use "sass:color";

$columnsAmount: 7;
$discSize: 50px;
$discMargin: 10px;
$discWrapperPadding: $discMargin;

// Text
$fwMedium: 600;

/* Colors */
$primaryBg: #fff;
$primaryText: #000;
$secondaryBg: #000;
$secondaryText: #fff;
$bgClr: #7945ff;
$buttonBg: #5b2cd5;
$buttonBgHover: #3f1e97;
@debug color.adjust($buttonBg, $lightness: -15%);
$buttonClr: $secondaryText;

// Player
$playerOneClr: #fd6486;
$playerTwoClr: #ffce67;

// Disc wrapper
$discWrapperBg: #ffffff;

// Disc
$discBg: #7945ff;
$secondaryBg: #000000;
$discSelectedBgPlayerOne: #fd6486;
$discSelectedShadowClrPlayerOne: #7e3243;
$discSelectedBgPlayerTwo: #ffce67;
$discSelectedShadowClrPlayerTwo: #7f6633;

* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  line-height: 1.15;
}

body {
  background-color: $bgClr;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
}

#root {
  max-width: 700px;
  margin: 2rem auto;
  display: grid;
  place-content: center;
}

.button,
.menu-button {
  cursor: pointer;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: $fwMedium;
}

.button {
  display: inline-block;
  font-size: 0.9rem;
  padding: 0.5rem 1.5rem;
  background-color: $buttonBg;
  color: $buttonClr;
  border-radius: 50px;

  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }

  &:not([disabled]):hover {
    background-color: $buttonBgHover;
  }
}

.menu-button {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.25rem;
  background-color: $primaryBg;
  text-align: left;
  font-size: 1.5rem;
  color: $primaryText;
  border-radius: 15px;
  border: 3px solid $secondaryBg;
  box-shadow: 0 10px 0 0 $secondaryBg;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
  }

  &:hover {
    transform: translateY(-6px);

    &::before {
      bottom: -12px;
    }
  }

  &.primary {
    background-color: $playerOneClr;
    color: $secondaryText;
  }

  &.secondary {
    background-color: $playerTwoClr;
  }
}

.menu {
  padding: 2rem 0;
}

.game-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.game-icon {
  max-width: 45px;
  margin: 0 0.5rem;

  .circle {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50px;
    background-color: $discSelectedBgPlayerOne;
    border: 2px solid $secondaryBg;
    box-shadow: 0 2.5px 0 0 $secondaryBg;

    &:nth-of-type(2),
    &:nth-of-type(3) {
      background-color: $discSelectedBgPlayerTwo;
    }
  }
}

.players-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  .player {
    &:first-of-type {
      .player-avatar {
        left: -25px;
      }
    }

    &:last-of-type {
      .player-avatar {
        right: -25px;
      }
    }
  }
}

.player {
  padding: 1.5rem;
  border-radius: 15px;
  display: inline-block;
  background-color: $primaryBg;
  border: 3px solid $secondaryBg;
  box-shadow: 0 10px 0 0 $secondaryBg;
  position: relative;

  &-avatar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    width: 50px;
    height: 50px;

    &::before {
      content: "";
      position: absolute;
      bottom: -10%;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);
      width: 100%;
      height: 100%;
      background-color: $secondaryBg;
      border-radius: 50%;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: relative;
      z-index: 5;
    }
  }

  &-name {
    display: inline-block;
    text-transform: uppercase;
    font-weight: $fwMedium;
    font-size: 1.25rem;
    margin: 0 0.5rem;
  }
}

.board {
  display: inline-grid;
  grid-template-columns: repeat($columnsAmount, $discSize);
  gap: $discMargin;
  padding: $discMargin;
  margin-top: 2rem;
  border-radius: 15px;
  background-color: $discWrapperBg;
  border: 3px solid $secondaryBg;
  box-shadow: 0 10px 0 0 $secondaryBg;
}

.arrow {
  width: 50px;
  position: absolute;

  &.hidden {
    visibility: hidden;
  }
}

.disc {
  width: $discSize;
  height: $discSize;
  margin-bottom: $discMargin;
  background-color: $secondaryBg;
  border: 3px solid $secondaryBg;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &,
  &::before {
    border-radius: 50px;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $discBg;
  }

  &.filled {
    &::before {
      top: 10%;
    }

    &-1 {
      background-color: $discSelectedShadowClrPlayerOne;

      &::before {
        background-color: $discSelectedBgPlayerOne;
      }
    }

    &-2 {
      background-color: $discSelectedShadowClrPlayerTwo;

      &::before {
        background-color: $discSelectedBgPlayerTwo;
      }
    }
  }

  &.four-in-row {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 5;
      transform: translate(-50%, -50%);

      width: 60%;
      height: 60%;
      border: 8px solid $primaryBg;
      border-radius: 50%;
    }
  }
}

.game-box {
  padding: 1rem 2rem;
  margin: 0 auto;
  margin-top: -1rem;
  color: $secondaryText;
  text-align: center;
  border-radius: 15px;
  border: 3px solid $secondaryBg;
  box-shadow: 0 10px 0 0 $secondaryBg;
  position: relative;
  z-index: 5;

  &.turn-box {
    background-color: $discSelectedBgPlayerOne;
    max-width: 14rem;

    .turn-box-player,
    .turn-box-time {
      color: $secondaryText;
      font-weight: $fwMedium;
    }

    .turn-box-player {
      font-size: 1.25rem;
    }

    .turn-box-time {
      font-size: 4rem;
    }
  }

  &.win-box,
  &.tie-box {
    background-color: $primaryBg;
    max-width: 16rem;
    max-width: max-content;

    .win-or-tie-box-player,
    .win-or-tie-box-state {
      color: $primaryText;
      font-weight: $fwMedium;
    }

    .win-or-tie-box-player {
      font-size: 1.25rem;
    }

    .win-or-tie-box-state {
      font-size: 4rem;
      word-break: break-all;
    }
  }
}
