$columnsAmount: 7;
$discSize: 50px;
$discMargin: 10px;
$discWrapperPadding: $discMargin;

// Text
$fwMedium: 600;

/* Colors */
$primaryText: #fff;
$primaryBg: #fff;
$secondaryBg: #000;
$bgClr: #7945ff;
$buttonBg: #5b2cd5;

// Player
$playerOneClr: #fd6486;
$playerTwoClr: #ffce67;

// Disc wrapper
$discWrapperBg: #ffffff;

// Disc
$discBg: #7945ff;
$secondaryBg: #000000;
$discSelectedBgPlayerOne: #fd6486;
$discSelectedShadowClrPlayerOne: #7e3243;
$discSelectedBgPlayerTwo: #ffce67;
$discSelectedShadowClrPlayerTwo: #7f6633;

* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  line-height: 1.15;
}

body {
  background-color: $bgClr;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
}

#root {
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  place-content: center;
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: $fwMedium;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background-color: $buttonBg;
  color: $primaryText;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.balls {
  max-width: 45px;
  margin: 0 0.5rem;

  .ball {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50px;
    background-color: $discSelectedBgPlayerOne;
    border: 2px solid $secondaryBg;
    box-shadow: 0 2.5px 0 0 $secondaryBg;

    &:nth-of-type(2),
    &:nth-of-type(3) {
      background-color: $discSelectedBgPlayerTwo;
    }
  }
}

.players-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  .player {
    &:first-of-type {
      .player-avatar {
        left: -25px;
      }
    }

    &:last-of-type {
      .player-avatar {
        right: -25px;
      }
    }
  }
}

.player {
  padding: 1.5rem;
  border-radius: 15px;
  display: inline-block;
  background-color: $primaryBg;
  border: 3px solid $secondaryBg;
  box-shadow: 0 10px 0 0 $secondaryBg;
  position: relative;

  &-avatar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    width: 50px;
    height: 50px;

    &::before {
      content: "";
      position: absolute;
      bottom: -10%;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);
      width: 100%;
      height: 100%;
      background-color: $secondaryBg;
      border-radius: 50%;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: relative;
      z-index: 5;
    }
  }

  &-name {
    display: inline-block;
    text-transform: uppercase;
    font-weight: $fwMedium;
    font-size: 1.25rem;
    margin: 0 0.5rem;
  }
}

.disc-wrapper {
  display: inline-grid;
  grid-template-columns: repeat($columnsAmount, $discSize);
  gap: $discMargin;
  padding: $discMargin;
  margin-top: 2rem;
  border-radius: 15px;
  background-color: $discWrapperBg;
  border: 3px solid $secondaryBg;
  box-shadow: 0 10px 0 0 $secondaryBg;
}

.disc {
  width: $discSize;
  height: $discSize;
  background-color: $secondaryBg;
  border: 3px solid $secondaryBg;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &,
  &::before {
    border-radius: 50px;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $discBg;
  }

  &.clicked {
    &::before {
      top: 10%;
    }

    &-1 {
      background-color: $discSelectedShadowClrPlayerOne;

      &::before {
        background-color: $discSelectedBgPlayerOne;
      }
    }

    &-2 {
      background-color: $discSelectedShadowClrPlayerTwo;

      &::before {
        background-color: $discSelectedBgPlayerTwo;
      }
    }
  }
}

.turn-box {
  padding: 2rem;
  padding-bottom: 0;
  max-width: 15rem;
  max-width: max-content;
  margin: 0 auto;
  color: $primaryText;
  text-align: center;
  position: relative;

  &-background {
    position: absolute;
    top: -1rem;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    width: 15rem - 2rem;
    pointer-events: none;
    user-select: none;
  }

  &-player,
  &-time {
    position: relative;
    z-index: 5;
  }

  &-player {
    font-size: 1.25rem;
    font-weight: $fwMedium;
  }

  &-time {
    font-size: 4rem;
    font-weight: $fwMedium;
  }
}
